.m-b-m-20 {
	margin-bottom: -20px;
}
.m-b-m-120 {
	margin-bottom: -120px;
}
.z-2 {
	z-index: 2;
}
.container >.row >[class*=col-] {
	margin-top: 20px;
}
.container >.row >[class*=col-] >div {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
}
#badge [class*="col-md"] {
	pointer-events: none;
}
#badge input[type="checkbox"] {
	display: none;
}
#badge input[type="checkbox"] +label {
	pointer-events: visible;
	cursor: pointer;
	text-align: center;
}
#badge input[type="checkbox"] +label p {
	color: #ddd;
}
#badge input[type="checkbox"] +label img {
	opacity: 0.3;
}
#badge input[type="checkbox"]:checked +label p {
	color: #000;
}
#badge input[type="checkbox"]:checked +label img {
	opacity: 1;
}
#select-preview {
	margin-top: 10px;
}
#selected {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selected-pokemon {
	margin-bottom: 10px;
	border-radius: 2px;
	cursor: all-scroll;
}
.selected-pokemon:hover {
	background-color: #eee;
}
#trainer-info {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
#trainer-info input{
	width: 100%;
}
#trainer-select {
	margin-top: 20px;
}
.dd-dragel {
	display: none;
}
#div-trainer {
	max-height: 360px;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow-y: auto;
	border-radius: 2px;
	border: 1px solid #ccc;
}
#div-trainer img {
	cursor: pointer;
}
#div-trainer img:hover {
	background-color: #eee;
}
#selected-trainer {
	text-align: center;
}
#selected-trainer img {
	border: 2px solid #ccc;
	cursor: pointer;
}
#selected-trainer-name {
	padding: 5px;
	font-weight: bold;
	text-align: right;
}
#card-select {
	padding-top: 20px;
	padding-bottom: 20px;
}
#card-select >.col-md-6 {
	margin-top: 20px;
	text-align: center;
}
#selected-top img, #selected-bottom img {
	border: 2px solid #ccc;
	cursor: pointer;
	display: inline;
}
#div-top, #div-bottom {
	max-height: 360px;
	margin-top: 20px;
	overflow-y: auto;
	border-radius: 2px;
	border: 1px solid #ccc;
	padding-bottom: 10px;
}
#div-top img, #div-bottom img{
	margin-top: 10px;
	cursor: pointer;
	display: inline;
}
#card {
	text-align: center;
}
#cardCanvas {
	border: 3px solid #ccc;
}
#card-generate {
	padding: 20px;
}